
<div id="holder">
</div>



<h3>Showing wind for {{weather.name}} -- {{to-mph weather.wind.speed}}MPH from the {{wind-direction weather.wind.deg}} ({{weather.wind.deg}})</h3>
<button {{action 'generateWind'}}>Generate Wind</button>
<br>
<label for="city">Enter a city below (without spaces)</label>
{{input value=city id="city"}}
<button {{action 'citySearch'}}>Get Weather</button>
<button {{action 'weatherNow'}}>Show Model</button>
