
<div id="holder">
  {{userWeather}}
</div>

<button {{action 'generateWind'}}>Generate Wind</button>

<h3>Showing wind for {{weather.name}}</h3>
<br>
<label for="city">Enter a city below (without spaces)</label>
{{input value=city id="city"}}
<button {{action 'citySearch'}}>Get Weather</button>
<button {{action 'weatherNow'}}>Show Model</button>
